[Unit]
Description=The Phone Game Service
After=network.target

[Service]
Type=simple
User=the-phone
WorkingDirectory=/home/the-phone
# Point to your virtual environment's python
ExecStart=/home/the-phone/venv/bin/python /home/the-phone/the-phone.py
Restart=always
RestartSec=1
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
